
div{
    height:100px;
    width:100px;
    background-color:pink;
    border:2px, black, solid;
}
.static-box{
    position:static;

  
}
.relative-box{
    position:relative;
   top:20px;
    right:30px;
}
.absolute-box{
    position:absolute;
    top:10px;
   left:15px;

}
.fixed-box{
    position: fixed;
    top: 10px;
    left:10px;
    background-color: green;

}
.sticky-box{
    position:sticky;
    top:0px;
    background-color: red;
    
}
.background-image{
    background-image: url(image.png);
    background-size:cover;
}
.background-image-repeat{
    background-image: url(image.png);
    background-repeat:repeat-x repeat-y;
    background-size:50%;
   
}
.box1{
    z-index:1;
    position:absolute;

}
.box2{
    z-index:2;
    position:relative;
    background-color: aqua;
}
.Question-9{
      display:flex;
      flex-direction:row;
      height:300px;
      width:300px;

}
.childdiv1{
    background-color:green;
}
.Question-10{
    display:flex;
    flex-direction:column;
    height:300px;
    width:300px;

}
.childdiv2{
    background-color:green;
}
.Question-11{
    display:flex;
    justify-content:space-evenly;
    height:300px;
    width:500px;
    background-color:purple;
}
.childdiv3{

    background-color:green;
}
.Question-12{
    display:flex;
    flex-wrap:wrap;
    height:500px;
    width:400px;
    background-color:yellow;
}
.childdiv4{

    background-color:green;
}
.Question-13{
    height:300px;
    width:300px;
    align-items:center;
    background-color:blue;
}
.childdiv5{
     background-color: antiquewhite;
    display:inline-block;
    width:50px;
    height:60px;
}
.childdiv6{
    background-color: antiquewhite;
    display:inline-block;
    width:50px;
    height:80px;
}
.childdiv7{
    background-color: antiquewhite;
    display:inline-block;
    width:50px;
    height:100px;
}
.Question-14{
    height:500px;
    width:500px;
    background-color: pink;
    display:flex;
    align-content:center;
    flex-wrap:wrap;
}
.flex1{
    height:100px;
    width:100px;
    display:inline-block;
    background-color:orange;
}
.Question-15{
    display:flex;
    height:200px;
    width:400px;
    background:blueviolet;

}
.flex2{
    width:100px;
    height:50px;
    display:inline-block;
    background-color: brown;
}
.flex3{
    width:100px;
    height:50px;
    display:inline-block;
    flex-grow:2;
    background-color: brown;
}
.flex4{
    width:100px;
    height:50px;
    display:inline-block;
    background-color: brown;
}
