
div{
    height:100px;
    width:100px;
    background-color:pink;
    border:2px, black, solid;
}
.static-box{
    position:static;
  
}
.relative-box{
    position:relative;
   margin-top:20px;
    margin-left:30px;
}
.absolute-box{
    position:absolute;
    margin-top:10px;
    margin-left:15px;

}